* {
	margin: 0;
	padding: 0;
}
body {
	background-color: lightpink;
}

h1 {
	margin: 20px;
}

#selection {
	font-style: italic;
	margin: 10px 10px 4px 20px;
}
#rock {
	margin-left: 30px;
}
.buttons button {
	padding: 10px 15px;
	margin: 4px 3px 5px 3px;
	background-color: #f1d6da;
	border-radius: 20px;
	color: #b94657;
}

.buttons button:hover {
	border: 1px outset #c5bfbf;
}

.buttons button:focus {
	outline: none;
}
#results {
	margin: 3px 3px 3px 30px;
}

div#score {
	margin: 10px 5px 3px 20px;
}

#player, #computer {
	font-weight: bold
}

.winner {
	margin-left: 20px;
}